/* banner transparency hack */

#banner::after {
    opacity: 0.5 !important;
}

/* general */

a {
    border-bottom: solid 1px;
}

#menu a {
    border-bottom: 0;
}

nav a {
    cursor: pointer;
}

/* inverted colors */

section#wiki-content {
    background-color: #f6f6f6;
    color: #24200F;
}

section#wiki-content strong, section#wiki-content em, section#wiki-content th {
    color: #24200F;
}

section#wiki-content h1, section#wiki-content h2, section#wiki-content h3, section#wiki-content h4, section#wiki-content h5, section#wiki-content h6 {
    color: #2a2f4a;
    margin-top: 2em;
}

section#wiki-content a:hover {
    background-color: #9bf1ff;
    color: black !important;
}

section#wiki-content td, section#wiki-content th {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.25em 1em;
}

section#wiki-content th {
    background-color: rgba(0, 0, 0, 0.05);
}

section#wiki-content td {
    background-color: rgba(255, 255, 255, 0.5);
}

section#wiki-content thead {
    border: 0;
}

section#wiki-content em {
    background-color: #fffa96;
    padding: 1px 5pt;
    border-radius: 3pt;
    font-style: normal;
    margin-left: 2pt;
    margin-right: 2pt;
}

section#wiki-content a {
    border-bottom-color: #ccc;
}

/* spacing, dimensions, etc. */

.wiki dd {
    margin-bottom: 1em;
}

.wiki dt {
    font-size: 120%;
    margin-bottom: 1ex;
}

.wiki p {
    margin-bottom: 1em;
    text-align: justify;
}

.wiki .hljs {
    border-radius: 5pt;
    font-size: 80%;
    line-height: 1.6;
    padding: 1em 2em;
}

.wiki table {
    border-radius: 5pt;
}

.wiki .figure.uml, .wiki .figure.graph, .wiki .figure.picture {
    padding: 2em 0;
    text-align: center;
}

.wiki .figure.picture p {
    font-size: 130%;
    padding-top: 1ex;
    margin-bottom: 1em;
    text-align: center;
    opacity: 0.7;
}

.tiles article {
    height: 15vh;
    min-height: 8em;
}

.wiki blockquote {
    border: 0;
    font-size: 130%;
    margin: 0;
    padding: 0;
}

.wiki blockquote em {
    white-space: nowrap;
}

.wiki blockquote em:before {
    content: '\A― ';
}

.wiki code {
    font-family: Monaco, monospace;
    padding: 0;
    margin: 0;
}

#main .inner.lower {
    padding: 1em 0;
}

dl dt em {
    background-color: transparent;
    color: #00f;
    font-family: Monaco, monospace;
    font-size: 120%;
    margin-left: 0;
    margin-right: 0;
}

/* wiki TOC */

#toc {
    background-color: #515670;
    display: none;
    padding: 1em;
    margin: 0 0 1em 0;
    min-width: 20em;
    position: fixed;
    right: 0;
    z-index: 12000;
}

#wiki-search {
    z-index: 11100;
}

#toc ul {
    margin: 0 2em 0 0;
}

#toc ul li {
    line-height: 1.3;
    list-style: none;
    padding: 0;
}

#toc ul li a {
    border: 0;
    font-size: 80%;
}

/* wiki related pages */

#menu .inner {
    overflow: auto;
    width: calc(100% - 1em);
}

#menu .inner * {
    text-align: left;
}

#menu form {
    margin: 0 auto 4em auto;
    width: 98%;
}

.wiki-related-pages.incoming h4,
.wiki-related-pages.outgoing h4,
.wiki-related-pages.children h4 {
    margin: 0;
}

.wiki-related-pages ul li a {
    border: 0;
}

.wiki-related-pages.incoming ul,
.wiki-related-pages.outgoing ul,
.wiki-related-pages.siblings ul {
    display: block;
    margin: 0;
    padding: 0;
}

.wiki-related-pages.incoming ul li,
.wiki-related-pages.outgoing ul li,
.wiki-related-pages.siblings ul li {
    display: inline;
    list-style: none;
    padding-left: 0;
    padding-right: 1em;
    white-space: nowrap;
}

.wiki-related-pages.incoming ul li a,
.wiki-related-pages.outgoing ul li a,
.wiki-related-pages.siblings ul li a {
    border: 0;
    margin-left: 0.5em;
    white-space: nowrap;
}

.wiki-related-pages.children ul li {
    font-size: 80%;
    list-style-type: none;
}

.wiki-related-pages .icon:before {
    color: #515670;
}

.wiki-related-pages.incoming h4,
.wiki-related-pages.outgoing h4 {
    color: #515670;
}

header.major > :first-child:after {
    background-color: #515670;
    display: none;
}

/* wiki cover */

section#wiki-cover {
    opacity: 0.5;
}

section#wiki-cover blockquote {
    font-size: inherit;
}

section#wiki-cover blockquote em {
    opacity: 0.4;
}

section#wiki-cover .inner {
    padding: 2em 0;
}

.tiles article:hover:before {
    opacity: 0.5;
}

/* breadcrumbs */

section#breadcrumbs .inner {
    padding: 1.6em 0 1em 0;
}

section#breadcrumbs span {
    color: #515670;
}

section#breadcrumbs ul {
    margin: 2em 0 1em 0;
    padding: 0;
}

section#breadcrumbs a {
    border: 0;
}

section#breadcrumbs p {
    margin-bottom: 0;
}

/* button */

.button {
    box-shadow: inset 0 0 4em 5px #515670;
    border-radius: 5pt;
    text-transform: none;
    letter-spacing: normal;
}

/* banner */

#banner > .inner .content p {
    font-size: 1.3em;
    font-weight: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
}

#banner {
    background-image: none !important;
}

/* wiki tree */

section#tree p {
    padding: 0;
    margin: 0;
    line-height: 1.3;
}

section#tree .level1 a {
    font-size: 2em;
    border: 0;
    text-decoration: none;
}

section#tree .level2 a {
    font-size: 1.3em;
}

section#tree .level3 a {
    font-size: 0.9em;
}

section#tree .level1 {
    padding-bottom: 2em;
    padding-top: 2em;
    border-top: 2px solid rgba(255, 255, 255, 0.25);
}

section#tree .level2 {
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

section#tree .level2:last-child {
    border: 0;
}

section#tree .level1:first-child {
    border: 0;
}

/* todo */

.todo {
    margin: 1em 0;
    background-color: red;
    color: white;
    font-weight: 600;
    padding: 1ex 2em;
    letter-spacing: 1ex;
}

/* footer adjustments */

#main .inner.lower {
    padding: 1em 0;
}

#main .inner.lower ul {
    margin: 0;
}

ul.icons {
    font-size: 150%;
}

/* particles */

#banner canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -99999;
}

/* typed */

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}