/* typography */
@import url('normalize.css');
@import url('font-awesome.min.css');

h1, h2, h3, h4, h5, h6, option, select, button, input {
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    font-size: 14pt;
    line-height: 1.5;
}

/* large */
@media screen and (max-width: 1280px) {
    body {
        font-size: 12pt;
    }
}

/* medium */
@media screen and (max-width: 980px) {
    body {
        font-size: 11pt;
    }

    #banner h1 {
        font-size: 2em;
    }
}

/* small */
@media screen and (max-width: 736px) {
    body {
        font-size: 9pt;
    }

    #banner h1 {
        font-size: 1em;
    }

    #footer {
        display: none;
    }

    #header .explain {
        display: none;
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:hover.button, a.logo {
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    margin: 1em 0 1ex 0;
}

h1 {
    margin: 0 0 1ex 0;
}

.image.fit {
    width: 100%;
}

.image.fit img {
    width: 100%;
}

/* blocks */

iframe {
    border: 0;
    margin: 0;
    padding: 0;
}

#universe {
    margin-top: 5em;
}

.inner {
    margin: 0 auto;
    max-width: 1000pt;
    padding: 2em 0;
    width: 80%;
}

/* header */

#header {
    height: 5em;
    line-height: 5em;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#header .inner {
    position: relative;
}

a.logo {
    font-size: 150%;
    font-weight: bold;
    opacity: 0.9;
}

a.logo strong {
    padding: 5pt 10pt;
}

a.logo:hover {
    opacity: 1;
}

#search {
    margin-left: 3em;
}

#search-query {
    background-color: white;
    border: 2px solid #eeeeee;
    border-radius: 2px;
    color: black;
    font-size: 12pt;
    margin: 0 1ex;
    padding: 2pt 5pt;
    width: 10em;
}

#header form {
    display: inline;
}

#header .inner {
    padding: 0;
}

#breadcrumbs .inner {
    padding: 1em 0;
}

#heading .inner {
    padding-bottom: 1em;
}

/* footer */

.icons {
    margin: 0;
    padding: 0;
}

.icons li {
    display: inline;
    font-size: 2em;
    padding: 0;
    margin-right: 1ex;
}

.icons li a {
    color: #666666;
}

.icons li a:hover {
    text-decoration: none;
}

.icons li .label {
    display: none;
}

ul.copyright {
    margin: 0;
    padding: 0;
}

ul.copyright li {
    color: silver;
    display: inline;
    margin-right: 1em;
    font-size: 80%;
}

/* wiki */

#tree p {
    font-size: 90%;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 3pt 0;
    padding: 0;
}

#tree p:last-child {
    margin-bottom: 2em;
}

#tree h3 {
    margin: 0 0 1em 0;
}

#toc {
    display: none;
    z-index: 99999;
}

/* buttons */

.vertical.actions, .actions {
    margin: 0;
    padding: 0;
}

.actions {
    display: block;
    line-height: 2.1;
    margin: 0 0 2ex 0;
    padding: 0;
}

.actions li {
    display: block;
    float: left;
    list-style-type: none;
    margin: 0 2ex 0 0;
    padding: 0;
}

.vertical.actions li {
    margin: 0 0 0.5ex 0;
    width: 100%;
}

.button {
    cursor: pointer;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: 1pt;
    margin: 1ex 0;
    padding: 0.8ex 1em;
    white-space: nowrap;
}

.big.button {
    font-size: 120%;
}

.button .fa {
    margin-right: 3pt;
    opacity: 0.5;
}

.wiki-related-pages {
    font-size: 90%;
}

/* banner */

#banner {
    font-size: 1.7em;
    margin: 0;
}

#banner h1 {
    margin: 0 0 1em 0;
}

#banner p {
    margin: 0;
}

/* toc */

#toc ul {
    margin: 0;
}

#toc ul a {
    font-size: 80%;
    font-weight: bold;
}

#latest {
    font-size: 90%;
}

#latest strong {
    font-size: 90%;
    font-weight: normal;
    color: #999999;
}

/* wiki */

#tree h2 {
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 1em;
}

#tree h2:first-child {
    margin-top: 0;
}

#wiki-content h1 {
    font-size: 2.5em;
}

#wiki-content h2 {
    font-size: 2em;
}

#wiki-content h3 {
    font-size: 1.6em;
}

#wiki-content h4 {
    font-size: 1.3em;
}

#wiki-content h5 {
    font-size: 1.15em;
}

#wiki-content h6 {
    font-size: 1em;
    text-transform: uppercase;
}

#wiki-content p {
    margin: 1ex 0;
}

#wiki-content .figure {
    text-align: left;
    padding: 2em 1em;
}

#wiki-content .figure.picture {
    text-align: left;
}

#wiki-content .figure.picture p {
    font-size: 120%;
}

#wiki-content em {
    border-radius: 3pt;
    font-family: monospace;
    font-style: normal;
    font-size: 90%;
    padding: 1pt 5pt;
}

#wiki-content table em, #wiki-content dd em {
    background-color: #111111;
    color: #ffffff;
}

#wiki-content table {
    border-collapse: collapse;
    margin: 2em 0;
    width: auto;
}

#wiki-content th, #wiki-content td {
    text-align: left;
    vertical-align: top;
    padding: 5pt 10pt;
}

#wiki-content th {
    font-size: 0.8em;
    font-weight: bold;
    padding-bottom: 5pt;
    padding-top: 5pt;
}

#wiki-content blockquote, blockquote {
    font-size: 110%;
    font-weight: bold;
    line-height: 1.4;
    margin: 1em 0;
    padding: 0 0 0 2em;
}

#wiki-content blockquote em, blockquote em {
    background: none transparent;
    display: block;
    font-weight: normal;
    font-family: inherit;
    font-size: 0.8em;
    margin: 0 0 0 auto;
    padding: 1em 1em 2em 2em;
    width: 100%;
}

#wiki-content blockquote em:before, blockquote em:before {
    content: '― ';
}

.wiki-related-pages.incoming ul, .wiki-related-pages.outgoing ul, .wiki-related-pages.siblings ul {
    display: block;
    margin: 0;
    padding: 0;
}

.wiki-related-pages.incoming ul li, .wiki-related-pages.outgoing ul li, .wiki-related-pages.siblings ul li {
    display: inline;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
}

.wiki-related-pages.incoming ul li a, .wiki-related-pages.outgoing ul li a, .wiki-related-pages.siblings ul li a {
    background-color: #e6e6e6;
    border: 0;
    border-radius: 1em;
    padding: 0.5ex 1em;
    display: inline-block;
    margin: 0 0.5ex 1ex 0;
    white-space: nowrap;
}

.box {
    font-size: 90%;
    padding: 1ex;
}

.box h1, .box h2, .box h3, .box h4, .box h5, .box h6 {
    margin: 1ex 0;
    padding: 0;
}

.hljs {
    font-family: Menlo, monospace;
    font-size: 80%;
}

.image.left, .image.right {
    max-width: 25%;
}

.image {
    border: 0;
    color: #999999;
    font-size: 80%;
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.image.left {
    float: right;
    margin: 0 0 1.25em 1.5em;
    top: 0.25em;
}

.image.right {
    float: right;
    margin: 0 0 1.25em 1.5em;
    top: 0.25em;
}

.image.left img, .image.right img {
    width: 100%;
}

/*******************************************************************************
COLORS
*******************************************************************************/

body {
    background-color: #fafafa;
    color: #111111;
}

a {
    color: #606af6;
}

#header {
    background-color: #ffffff;
    box-shadow: 0 0 1ex #dddddd;
}

#breadcrumbs {
    background-color: #eeeeee;
    color: #666666;
}

#breadcrumbs a {
    color: #999999;
}

#heading {
    background-color: #eeeeee;
    padding: 2em 0;
}

#heading h1 {
    font-size: 3em;
}

a.logo {
    color: #666666;
}

a.logo strong {
    background-color: #606af6;
    color: #eeeeee;
}

a.logo:hover strong {
    color: #ffffff;
}

.button {
    background: #f6eb61 linear-gradient(-170deg, #f6eb61 0%, #fcf05f 90%);
    border: 1px solid #fcf05f;
    color: #111111;
    border-radius: 3pt;
}

.button:hover {
    background: #6af660;
    border: 1px solid #6af660;
}

#banner {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 1px 1em #eee;
}

#toc {
    background-color: #e8e7e5;
    box-shadow: -1ex 1ex 20em 10px #333333;
    border: 0;
    position: fixed;
    top: 1em;
    right: 1em;
    border-radius: 2em;
    width: auto;
    min-width: 20%;
    max-width: 50%;
}

#toc .inner {
    padding: 1em 0;
}

#tree p:last-child {
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 1em;
}

#wiki-content em {
    background-color: rgba(106, 246, 96, 0.3);
    margin-left: 3pt;
    margin-right: 3pt;
}

#wiki-content th, #wiki-content td {
    border: 1px solid #eeeeee;
}

#wiki-content td {
    background-color: #ffffff;
}

.box {
    background-color: #ffffff;
    border: 2px solid #eeeeee;
    border-radius: 6pt;
}

.wiki-related-pages .fa {
    color: #eeeeee;
}

.wiki-related-pages.incoming, .wiki-related-pages.outgoing {
    border-top: 2px solid #eeeeee;
}

.wiki-related-pages h4 {
    margin: 0 0 1ex 0;
    padding: 0;
    color: gray;
}

#heading.wiki-cover {
    background: none;
}

#heading.wiki-cover .wiki-related-pages.siblings {
    font-size: 110%;
    font-weight: bold;
}

#heading.wiki-cover .wiki-related-pages.siblings li {
    display: block;
}

.hljs {
    border: 2px solid #eeeeee;
}

#wiki-content dt {
    font-size: 120%;
}

#wiki-content dd {
    margin-bottom: 1em;
}

dl {
    margin: 3em auto;
    width: 95%;
}

dl dd {
    margin-left: 2em;
}

/* search */

#wiki-content .search-result {
    background-color: #fff;
    margin: 1em 0;
    padding: 1em;
}

#wiki-content .search-result h3 {
    font-size: 1em;
    margin-top: 0;
}

#wiki-content .search-result-fragment {
    font-size: 10pt;
    color: #666;
    margin-top: 3pt;
    padding: 2pt 5pt;
    background: #fafafa;
    line-height: 1.3;
}

#wiki-content .search-result-fragment b {
    background-color: #f6eb61;
    padding: 1px 5pt;
    font-weight: bold;
    color: black;
}

#wiki-content .code-included-disclaimer {
    color: #666;
    text-align: right;
    margin: -1ex 0 2em 0;
}

#wiki-content .code-included-disclaimer a {
    color: #999;
    font-size: 80%;
}

#wiki-content .code-included-disclaimer img {
    vertical-align: middle;
}

/* special mark-up */

.todo {
    display: block;
    color: white;
    background-color: black;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    padding: 1ex;
    width: 20%;
    margin: 1em 0;
    letter-spacing: 3pt;
}

/* typed */

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
